.products{
    min-height: 100vh;
    background-color: var(--sectionProducts-background);
}

.titleContainer{
    padding: 20px 0;
}

.titleContainer h3{
    text-align: center;
}

.containerProducts{
    min-height: 90vh;
}

.filterContainerProduct input{
    padding: 6px;
    margin-left: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #a3a3a3;
}
.cardsContainer{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 40px;
    justify-content: center;
}

