.productCard{
    width: 260px;
    height: 270px;
    box-shadow: 1px 1px 5px #838383;
    background-color: var(--sectionProducts-background);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imageContainer{
    background-color:#838383;
    height: 150px;
}

.productInfo{
    margin: 0 10px ;
}

.btnContainer{
    padding: 10px 5px;
}

.btnContainer .btnCart{
    padding: 4px;
    border: none;
    border-radius: 3px;
    background-color:  var(--btnCart-background);
    color: #fff;
}