header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    box-sizing: border-box;
}

.ContainerLogo {
    display: flex;
    align-items: center;
}

.ContainerLogo img {
    width: 40px;
    height: auto;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #000;
}
