:root {
    --divider-background: #503B31;
    --dividerBeneficio-background: #FCFCFC;
    --sectionProducts-background: #FCFCFC;
    --btnCart-background: #EF476F;
}

.hero {
    width: 100%;
    height: 100vh;

    background-image: url("../../assets/hero2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    /* importante */
    position: relative;
}

.containerLogo {
    width: 80%;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgPrincipal {
    width: 250px;
    height: auto;
}

.texto {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    max-width: 590px;
}


/* WAVE DO FINAL DO HERO */

.divider-svg-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.divider-svg-top svg {
    width: 100%;
    height: 100px;
    display: block;
    transform: rotate(180deg);
}

/* DIVIDER */

.divider-svg {
    width: 100%;
    height: 100px;

    overflow: hidden;
    line-height: 0;
}

.divider-svg svg {
    width: 100%;
    height: 100px;
    display: block;
}