:root {
  --background-header: #CACDDA;
  --background-section: #FCFCFC;
  --background-btn: #FF65FC;
}

.adminSection{
    background-color: var(--background-section);
}

.adminSection header{
    background-color: var(--background-header);

}

.logoContainer{
    width: fit-content;
    margin: 0 auto;
    height: 10vh;
}

.mainContent{
    
    height: 90vh;
    padding: 0px 90px;
}

.title{
    width: 100%;
    padding: 70px 50px;
    display: flex;
    justify-content: space-between;
}

.title h1{
    font-size: 25px;
    font-weight: 500;
}

.title .btnProduct{
    width: 150px;
    box-shadow: 1px 1px 5px #cfcfcfe5;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--background-btn);

}

.btnProduct:hover{
    background-color: #f8aef7;
}

.tableContainer{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    
    min-height: 65vh;
}

.inputFiltrar{
    border: 0;
    background-color: #babbbb;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    width: 90px;
    box-shadow: 1px 1px 5px #cfcfcfe5;
}

.filterContainer::after {
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: #7a7a7a;
}

.table{
    overflow-y: auto;
}
